<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Enregistrer Intervention</h2>
    <form [formGroup]="interventionForm" (ngSubmit)="onAddIntervention(this.id)">
      <div>
        <label for="libelle">Nom Intervention</label>
        <input type="text" class="form-control" id="libelle" formControlName="libelle">
      </div>
      <div>
        <label for="description">Description</label>
        <textarea class="form-control" id="description" formControlName="description"></textarea>
      </div>
      <div>
        <label for="intervenant">Intervenant</label>
        <input type="text" class="form-control" id="intervenant" formControlName="nomIntervenant">
      </div>
      <div>
        <label for="lieu">Lieu</label>
        <input type="text" class="form-control" id="lieu" formControlName="lieu">
      </div>
      <button class="btn btn-success" [disabled]="interventionForm.invalid" type="submit">Enregistrer</button>
    </form>
  </div>
</div>
